.search-input-container{
    background-color: #242526;
    border-radius: 10px;
    box-shadow: 0px 0px 18px #242526;
    position: absolute;
    top: 16px;
    left: 0;
    z-index: -1;
    width: 295px;
    min-height: 150px;
    padding: 50px 10px 10px
}