.header-container{
    background-color: #242526;
    border-bottom: 1px solid #b0b3b8;
    padding: 20px 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}
.circle-styles{
    background-color: #65676b;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-styles-active{
    background-color: #4169e1;
}
.margin-style-for-header-elements{
     margin-top: -20px;
}
.facebook-search-styles{
    padding-left: 10px;
    background-color: #65676b;
    color: white;
}
.home-page-container-styles{
    background-color: #1c1e21;   
}
.pages-margin{
    margin-top: 6%;
}
.bar-pictures-container{
    height: 50px;
    border-bottom: 3px solid #385898;
    width: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.active-bar-color{
    border-bottom: 3px solid #385898;
}
.inActive-bar-color{
    border-bottom: 3px solid #242526;
}
.post-button-text-style{
    color:#b0b3b8;
}
.post-buttons-style{
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px 12px;
}
.post-buttons-style:hover{
    background-color:#65676b;
}
.post-author-style{
    font-weight: 600;
    color:#E4E6EB;
}
.post-time-style{
    color:#B0B3B8;
    font-size: 12px;
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top:3px;
}
.post-description-style{
    color:#E4E6EB;
    font-size:15px;
    line-height: 1.3333;
    font-weight: 400;
}
.engagement-section{
    border-top:1px solid #B0B3B8;
    padding: 5px 10px;  
}
.create-post-button{
    color:#ffffff !important;
    background-color: #495057 !important;
    padding:10px;
    border-radius: 10px;
    width:100%;
}
.active-post-button{
    background-color: #2734E1 !important;
}
.post-modal-header{
    background-color: #242526;
    color:#ffffff;
    display: flex;
    justify-content: center !important;
    font-weight: 600;
}
.post-modal-body{
    background-color: #242526;
}
.post-modal-footer{
    background-color: #242526 !important;
}
.create-post-input{
    width: 100%;
    background-color: #242526;
    height: 80px;
    color:#ffffff !important;
    font-weight: 600;
    font-size: 18px;
    outline: none;
    resize: none;
}
.create-post-input::placeholder{
    font-size:18px;
    color:#B0B3B8;
    font-weight: 500;
}
.modal-content{
    margin-top: 25%;
}
